body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:500px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u660 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u661 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u662_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u662 {
  position:absolute;
  left:140px;
  top:270px;
  width:360px;
  height:70px;
}
#u663 {
  position:absolute;
  left:2px;
  top:28px;
  width:356px;
  word-wrap:break-word;
}
#u664_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u664 {
  position:absolute;
  left:160px;
  top:285px;
  width:40px;
  height:40px;
}
#u665 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u666_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u666 {
  position:absolute;
  left:209px;
  top:285px;
  width:131px;
  height:16px;
}
#u667 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u668_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u668 {
  position:absolute;
  left:209px;
  top:303px;
  width:15px;
  height:15px;
}
#u669 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u670_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u670 {
  position:absolute;
  left:230px;
  top:303px;
  width:15px;
  height:15px;
}
#u671 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u672_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u672 {
  position:absolute;
  left:251px;
  top:303px;
  width:15px;
  height:15px;
}
#u673 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u674_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u674 {
  position:absolute;
  left:272px;
  top:303px;
  width:15px;
  height:15px;
}
#u675 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u676_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u676 {
  position:absolute;
  left:294px;
  top:303px;
  width:15px;
  height:15px;
}
#u677 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u678_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u678 {
  position:absolute;
  left:374px;
  top:295px;
  width:31px;
  height:21px;
  font-size:18px;
}
#u679 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u680_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u680 {
  position:absolute;
  left:350px;
  top:295px;
  width:20px;
  height:20px;
}
#u681 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u682_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u682 {
  position:absolute;
  left:420px;
  top:290px;
  width:30px;
  height:30px;
}
#u683 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u684_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#999999;
}
#u684 {
  position:absolute;
  left:210px;
  top:320px;
  width:43px;
  height:11px;
  font-size:10px;
  color:#999999;
}
#u685 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u686 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u687 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u688_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u688 {
  position:absolute;
  left:140px;
  top:340px;
  width:360px;
  height:70px;
}
#u689 {
  position:absolute;
  left:2px;
  top:28px;
  width:356px;
  word-wrap:break-word;
}
#u690_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u690 {
  position:absolute;
  left:160px;
  top:355px;
  width:40px;
  height:40px;
}
#u691 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u692_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u692 {
  position:absolute;
  left:209px;
  top:355px;
  width:131px;
  height:16px;
}
#u693 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u694_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u694 {
  position:absolute;
  left:209px;
  top:373px;
  width:15px;
  height:15px;
}
#u695 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u696_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u696 {
  position:absolute;
  left:230px;
  top:373px;
  width:15px;
  height:15px;
}
#u697 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u698_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u698 {
  position:absolute;
  left:251px;
  top:373px;
  width:15px;
  height:15px;
}
#u699 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u700_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u700 {
  position:absolute;
  left:272px;
  top:373px;
  width:15px;
  height:15px;
}
#u701 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u702_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u702 {
  position:absolute;
  left:294px;
  top:373px;
  width:15px;
  height:15px;
}
#u703 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u704_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u704 {
  position:absolute;
  left:374px;
  top:365px;
  width:31px;
  height:21px;
  font-size:18px;
}
#u705 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u706_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u706 {
  position:absolute;
  left:350px;
  top:365px;
  width:20px;
  height:20px;
}
#u707 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u708_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u708 {
  position:absolute;
  left:420px;
  top:360px;
  width:30px;
  height:30px;
}
#u709 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u710_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#999999;
}
#u710 {
  position:absolute;
  left:210px;
  top:390px;
  width:43px;
  height:11px;
  font-size:10px;
  color:#999999;
}
#u711 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u712 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u713 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u714_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u714 {
  position:absolute;
  left:140px;
  top:410px;
  width:360px;
  height:70px;
}
#u715 {
  position:absolute;
  left:2px;
  top:28px;
  width:356px;
  word-wrap:break-word;
}
#u716_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u716 {
  position:absolute;
  left:160px;
  top:425px;
  width:40px;
  height:40px;
}
#u717 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u718_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u718 {
  position:absolute;
  left:209px;
  top:425px;
  width:131px;
  height:16px;
}
#u719 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u720_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u720 {
  position:absolute;
  left:209px;
  top:443px;
  width:15px;
  height:15px;
}
#u721 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u722_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u722 {
  position:absolute;
  left:230px;
  top:443px;
  width:15px;
  height:15px;
}
#u723 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u724_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u724 {
  position:absolute;
  left:251px;
  top:443px;
  width:15px;
  height:15px;
}
#u725 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u726_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u726 {
  position:absolute;
  left:272px;
  top:443px;
  width:15px;
  height:15px;
}
#u727 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u728_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u728 {
  position:absolute;
  left:294px;
  top:443px;
  width:15px;
  height:15px;
}
#u729 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u730_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u730 {
  position:absolute;
  left:374px;
  top:435px;
  width:31px;
  height:21px;
  font-size:18px;
}
#u731 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u732_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u732 {
  position:absolute;
  left:350px;
  top:435px;
  width:20px;
  height:20px;
}
#u733 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u734_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u734 {
  position:absolute;
  left:420px;
  top:430px;
  width:30px;
  height:30px;
}
#u735 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u736_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#999999;
}
#u736 {
  position:absolute;
  left:210px;
  top:460px;
  width:43px;
  height:11px;
  font-size:10px;
  color:#999999;
}
#u737 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u738 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u739 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u740_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u740 {
  position:absolute;
  left:140px;
  top:480px;
  width:360px;
  height:70px;
}
#u741 {
  position:absolute;
  left:2px;
  top:28px;
  width:356px;
  word-wrap:break-word;
}
#u742_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u742 {
  position:absolute;
  left:160px;
  top:495px;
  width:40px;
  height:40px;
}
#u743 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u744_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u744 {
  position:absolute;
  left:209px;
  top:495px;
  width:131px;
  height:16px;
}
#u745 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u746_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u746 {
  position:absolute;
  left:209px;
  top:513px;
  width:15px;
  height:15px;
}
#u747 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u748_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u748 {
  position:absolute;
  left:230px;
  top:513px;
  width:15px;
  height:15px;
}
#u749 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u750_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u750 {
  position:absolute;
  left:251px;
  top:513px;
  width:15px;
  height:15px;
}
#u751 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u752_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u752 {
  position:absolute;
  left:272px;
  top:513px;
  width:15px;
  height:15px;
}
#u753 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u754_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u754 {
  position:absolute;
  left:294px;
  top:513px;
  width:15px;
  height:15px;
}
#u755 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u756_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u756 {
  position:absolute;
  left:374px;
  top:505px;
  width:31px;
  height:21px;
  font-size:18px;
}
#u757 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u758_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u758 {
  position:absolute;
  left:350px;
  top:505px;
  width:20px;
  height:20px;
}
#u759 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u760_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u760 {
  position:absolute;
  left:420px;
  top:500px;
  width:30px;
  height:30px;
}
#u761 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u762_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#999999;
}
#u762 {
  position:absolute;
  left:210px;
  top:530px;
  width:43px;
  height:11px;
  font-size:10px;
  color:#999999;
}
#u763 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u764_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u764 {
  position:absolute;
  left:470px;
  top:300px;
  width:10px;
  height:10px;
}
#u765 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u766_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u766 {
  position:absolute;
  left:470px;
  top:370px;
  width:10px;
  height:10px;
}
#u767 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u768_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u768 {
  position:absolute;
  left:470px;
  top:440px;
  width:10px;
  height:10px;
}
#u769 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u770_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u770 {
  position:absolute;
  left:470px;
  top:510px;
  width:10px;
  height:10px;
}
#u771 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u772_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u772 {
  position:absolute;
  left:140px;
  top:110px;
  width:360px;
  height:640px;
}
#u773 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  word-wrap:break-word;
}
#u774_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:22px;
}
#u774 {
  position:absolute;
  left:140px;
  top:110px;
  width:360px;
  height:21px;
}
#u775 {
  position:absolute;
  left:2px;
  top:2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u776_img {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:140px;
}
#u776 {
  position:absolute;
  left:142px;
  top:131px;
  width:357px;
  height:139px;
}
#u777 {
  position:absolute;
  left:2px;
  top:62px;
  width:353px;
  visibility:hidden;
  word-wrap:break-word;
}
#u778_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u778 {
  position:absolute;
  left:160px;
  top:230px;
  width:320px;
  height:35px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u779 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
