<!DOCTYPE html>
<html>
<head>
<script src="javascripts/vue.js"></script>
<script src="javascripts/vue-router.js"></script>
<script src="javascripts/vue-resource.min.js"></script>
</head>
<body>

<div id="app">

    <form v-on:submit.prevent action="#">
        <div>
            <label for="email">Email:</label>
            <input type="text" v-model="email" name="email" id="email" required>
        </div>

          <div>
            <label for="password">Password:</label>
            <input type="password" v-model="password" name="password" id="password" required>
        </div>

        <button v-on:click="login">Login</button>

    </form>


</div>


<script src="javascripts/login-app.js"></script>
</body>
</html>