<!DOCTYPE html>

<html>

<head>
	<meta charset="UTF-8">
	<title>Seu Biu</title>

	<script type="text/javascript" src="javascripts/jquery-3.1.1.min.js"></script>
	<script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="javascripts/maskedinput.js"></script>

	<script src="javascripts/vue.js"></script>
	<script src="javascripts/vue-router.js"></script>
	<script src="javascripts/vue-resource.min.js"></script>

	<link rel="stylesheet" type="text/css" href="view/css/estilo.css" />
	<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css" />
</head>

<body>

<div id="app">
	<div align="center">
		<div align="left" style="color: #6E6E6E; width: 70%; margin-top: 4%;">

			<hr />
			
			<p>
				<table style="width: 100%">
					<tr>
						<td style="float: left; font-size: 24px;"><strong>Cadastro de Usuário</strong> </td>
						<td style="float: right; text-align: right;"> <img src="images/salvar.jpg" style="width: 14%;">  </td>
					</tr>
				</table>
			</p>
			
			<hr />

		    <form v-on:submit.prevent action="#">

		        <div class="form-group">
					<label for="name">Nome</label>
					<input type="text" class="form-control" id="name" v-model="name" name="name" style="width: 500px;" maxlength="100" required />
				</div>

				<div class="form-group">
					<label for="name">Sobrenome</label>
					<input type="text" class="form-control" id="surname" v-model="surname" name="surname" style="width: 500px;" maxlength="100" required />
				</div>
					
				<div class="form-group">
					<label for="email">E-mail</label>
					<input type="text" class="form-control" id="email" v-model="email" name="email" style="width: 500px;" maxlength="100" required /> 
				</div>

				<div class="form-group">
					<label for="password">Senha</label>
					<input type="password" class="form-control" id="password" v-model="password" name="password" style="width: 500px;" maxlength="100" required /> 
				</div>

				<div class="form-group">
					<label for="password">Confirme a Senha</label>
					<input type="password" class="form-control" id="confirm_password" v-model="confirm_password" name="confirm_password" style="width: 500px;" maxlength="100" required /> 
				</div>
				
				<div class="form-group">
					<label for="phone">DDD + Celular</label>
					<input type="text" class="form-control" id="phone" v-model="phone" v-mask=" '(99) 99999.9999' " name="phone" style="width: 500px;" maxlength="50" placeholder="(99) 99999.9999" required />
				</div>
					
				<br />
					
				<a href="listarUsuario" class="btn btn-danger" role="button">Cancelar</a> &nbsp;
				<button type="reset" class="btn btn-default"> &nbsp; Limpar &nbsp; </button> &nbsp;
				<button class="btn btn-primary" v-on:click="signup"> &nbsp; Inserir &nbsp; </button>

		    </form>
		</div>
    </div>

</div>

<script src="javascripts/signup-app.js"></script>

</body>
</html>