body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1540px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u900_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u900 {
  position:absolute;
  left:140px;
  top:110px;
  width:360px;
  height:640px;
}
#u901 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u902_img {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:216px;
}
#u902 {
  position:absolute;
  left:210px;
  top:181px;
  width:230px;
  height:215px;
}
#u903 {
  position:absolute;
  left:2px;
  top:100px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u904_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  text-align:left;
}
#u904 {
  position:absolute;
  left:170px;
  top:460px;
  width:300px;
  height:50px;
  color:#CCCCCC;
  text-align:left;
}
#u905 {
  position:absolute;
  left:40px;
  top:18px;
  width:160px;
  word-wrap:break-word;
}
#u906_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  text-align:left;
}
#u906 {
  position:absolute;
  left:170px;
  top:520px;
  width:300px;
  height:50px;
  color:#CCCCCC;
  text-align:left;
}
#u907 {
  position:absolute;
  left:40px;
  top:18px;
  width:160px;
  word-wrap:break-word;
}
#u908_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u908 {
  position:absolute;
  left:170px;
  top:593px;
  width:300px;
  height:50px;
}
#u909 {
  position:absolute;
  left:2px;
  top:18px;
  width:296px;
  word-wrap:break-word;
}
#u910_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:22px;
}
#u910 {
  position:absolute;
  left:182px;
  top:473px;
  width:20px;
  height:22px;
}
#u911 {
  position:absolute;
  left:2px;
  top:3px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u912_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:24px;
}
#u912 {
  position:absolute;
  left:182px;
  top:533px;
  width:20px;
  height:24px;
}
#u913 {
  position:absolute;
  left:2px;
  top:4px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u914_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u914 {
  position:absolute;
  left:266px;
  top:663px;
  width:118px;
  height:16px;
  color:#999999;
}
#u915 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u916_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:211px;
  height:22px;
}
#u916p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:202px;
  height:2px;
}
#u916p000_img {
  position:absolute;
  left:-1px;
  top:-11px;
  width:214px;
  height:24px;
}
#u916p001 {
  position:absolute;
  left:185px;
  top:-9px;
  width:20px;
  height:20px;
}
#u916p001_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:32px;
  height:40px;
}
#u916.compound {
  width:0px;
  height:0px;
}
#u916 {
  position:absolute;
  left:390px;
  top:279px;
  width:200px;
  height:2px;
}
#u917 {
  position:absolute;
  left:2px;
  top:-7px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u918_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u918 {
  position:absolute;
  left:600px;
  top:274px;
  width:126px;
  height:15px;
}
#u919 {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  word-wrap:break-word;
}
#u920_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:211px;
  height:22px;
}
#u920p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:202px;
  height:2px;
}
#u920p000_img {
  position:absolute;
  left:-1px;
  top:-11px;
  width:214px;
  height:24px;
}
#u920p001 {
  position:absolute;
  left:185px;
  top:-9px;
  width:20px;
  height:20px;
}
#u920p001_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:32px;
  height:40px;
}
#u920.compound {
  width:0px;
  height:0px;
}
#u920 {
  position:absolute;
  left:390px;
  top:669px;
  width:200px;
  height:2px;
}
#u921 {
  position:absolute;
  left:2px;
  top:-7px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u922_div {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u922 {
  position:absolute;
  left:600px;
  top:644px;
  width:146px;
  height:46px;
}
#u923 {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  word-wrap:break-word;
}
#u924_img {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:161px;
}
#u924 {
  position:absolute;
  left:783px;
  top:110px;
  width:357px;
  height:160px;
}
#u925 {
  position:absolute;
  left:2px;
  top:72px;
  width:353px;
  visibility:hidden;
  word-wrap:break-word;
}
#u926_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u926 {
  position:absolute;
  left:780px;
  top:110px;
  width:360px;
  height:640px;
}
#u927 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u928_div {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u928 {
  position:absolute;
  left:850px;
  top:239px;
  width:237px;
  height:21px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u929 {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  white-space:nowrap;
}
#u930_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  text-align:left;
}
#u930 {
  position:absolute;
  left:810px;
  top:380px;
  width:300px;
  height:50px;
  color:#CCCCCC;
  text-align:left;
}
#u931 {
  position:absolute;
  left:40px;
  top:18px;
  width:160px;
  word-wrap:break-word;
}
#u932_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  text-align:left;
}
#u932 {
  position:absolute;
  left:810px;
  top:440px;
  width:300px;
  height:50px;
  color:#CCCCCC;
  text-align:left;
}
#u933 {
  position:absolute;
  left:40px;
  top:18px;
  width:160px;
  word-wrap:break-word;
}
#u934_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:24px;
}
#u934 {
  position:absolute;
  left:822px;
  top:453px;
  width:20px;
  height:24px;
}
#u935 {
  position:absolute;
  left:2px;
  top:4px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u936_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  text-align:left;
}
#u936 {
  position:absolute;
  left:810px;
  top:500px;
  width:300px;
  height:50px;
  color:#CCCCCC;
  text-align:left;
}
#u937 {
  position:absolute;
  left:40px;
  top:18px;
  width:160px;
  word-wrap:break-word;
}
#u938_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:24px;
}
#u938 {
  position:absolute;
  left:822px;
  top:513px;
  width:20px;
  height:24px;
}
#u939 {
  position:absolute;
  left:2px;
  top:4px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u940_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u940 {
  position:absolute;
  left:810px;
  top:650px;
  width:300px;
  height:50px;
}
#u941 {
  position:absolute;
  left:2px;
  top:18px;
  width:296px;
  word-wrap:break-word;
}
#u942_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  text-align:left;
}
#u942 {
  position:absolute;
  left:810px;
  top:560px;
  width:300px;
  height:50px;
  color:#CCCCCC;
  text-align:left;
}
#u943 {
  position:absolute;
  left:40px;
  top:18px;
  width:160px;
  word-wrap:break-word;
}
#u944_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:25px;
}
#u944 {
  position:absolute;
  left:823px;
  top:573px;
  width:18px;
  height:25px;
}
#u945 {
  position:absolute;
  left:2px;
  top:4px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u946_img {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:161px;
}
#u946 {
  position:absolute;
  left:1183px;
  top:110px;
  width:357px;
  height:160px;
}
#u947 {
  position:absolute;
  left:2px;
  top:72px;
  width:353px;
  visibility:hidden;
  word-wrap:break-word;
}
#u948_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u948 {
  position:absolute;
  left:1180px;
  top:110px;
  width:360px;
  height:640px;
}
#u949 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u950_div {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u950 {
  position:absolute;
  left:1250px;
  top:239px;
  width:237px;
  height:21px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u951 {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  white-space:nowrap;
}
#u952_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  text-align:left;
}
#u952 {
  position:absolute;
  left:1210px;
  top:320px;
  width:300px;
  height:50px;
  color:#CCCCCC;
  text-align:left;
}
#u953 {
  position:absolute;
  left:40px;
  top:18px;
  width:160px;
  word-wrap:break-word;
}
#u954_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  text-align:left;
}
#u954 {
  position:absolute;
  left:1210px;
  top:440px;
  width:300px;
  height:50px;
  color:#CCCCCC;
  text-align:left;
}
#u955 {
  position:absolute;
  left:40px;
  top:18px;
  width:160px;
  word-wrap:break-word;
}
#u956_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:22px;
}
#u956 {
  position:absolute;
  left:1222px;
  top:333px;
  width:20px;
  height:22px;
}
#u957 {
  position:absolute;
  left:2px;
  top:3px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u958_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:24px;
}
#u958 {
  position:absolute;
  left:1222px;
  top:453px;
  width:20px;
  height:24px;
}
#u959 {
  position:absolute;
  left:2px;
  top:4px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u960_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
  text-align:left;
}
#u960 {
  position:absolute;
  left:1210px;
  top:500px;
  width:300px;
  height:50px;
  color:#FF0000;
  text-align:left;
}
#u961 {
  position:absolute;
  left:40px;
  top:18px;
  width:160px;
  word-wrap:break-word;
}
#u962_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:24px;
}
#u962 {
  position:absolute;
  left:1222px;
  top:513px;
  width:20px;
  height:24px;
}
#u963 {
  position:absolute;
  left:2px;
  top:4px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u964_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u964 {
  position:absolute;
  left:1210px;
  top:650px;
  width:300px;
  height:50px;
}
#u965 {
  position:absolute;
  left:2px;
  top:18px;
  width:296px;
  word-wrap:break-word;
}
#u966_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  text-align:left;
}
#u966 {
  position:absolute;
  left:1210px;
  top:560px;
  width:300px;
  height:50px;
  color:#CCCCCC;
  text-align:left;
}
#u967 {
  position:absolute;
  left:40px;
  top:18px;
  width:160px;
  word-wrap:break-word;
}
#u968_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:25px;
}
#u968 {
  position:absolute;
  left:1223px;
  top:573px;
  width:18px;
  height:25px;
}
#u969 {
  position:absolute;
  left:2px;
  top:4px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u970 {
  position:absolute;
  left:1210px;
  top:631px;
  width:300px;
  height:10px;
}
#u970_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:10px;
  background-color:transparent;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-decoration:none;
  color:#FF0000;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u971_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  text-align:left;
}
#u971 {
  position:absolute;
  left:810px;
  top:320px;
  width:300px;
  height:50px;
  color:#CCCCCC;
  text-align:left;
}
#u972 {
  position:absolute;
  left:40px;
  top:18px;
  width:160px;
  word-wrap:break-word;
}
#u973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:22px;
}
#u973 {
  position:absolute;
  left:822px;
  top:333px;
  width:20px;
  height:22px;
}
#u974 {
  position:absolute;
  left:2px;
  top:3px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:16px;
}
#u975 {
  position:absolute;
  left:822px;
  top:397px;
  width:20px;
  height:16px;
}
#u976 {
  position:absolute;
  left:2px;
  top:0px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u977_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  text-align:left;
}
#u977 {
  position:absolute;
  left:1210px;
  top:380px;
  width:300px;
  height:50px;
  color:#CCCCCC;
  text-align:left;
}
#u978 {
  position:absolute;
  left:40px;
  top:18px;
  width:160px;
  word-wrap:break-word;
}
#u979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:16px;
}
#u979 {
  position:absolute;
  left:1222px;
  top:397px;
  width:20px;
  height:16px;
}
#u980 {
  position:absolute;
  left:2px;
  top:0px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
