body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:500px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1281_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1281 {
  position:absolute;
  left:140px;
  top:110px;
  width:360px;
  height:640px;
}
#u1282 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1283_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:22px;
}
#u1283 {
  position:absolute;
  left:140px;
  top:110px;
  width:360px;
  height:21px;
}
#u1284 {
  position:absolute;
  left:2px;
  top:2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1285_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:81px;
}
#u1285 {
  position:absolute;
  left:160px;
  top:234px;
  width:86px;
  height:80px;
}
#u1286 {
  position:absolute;
  left:2px;
  top:32px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1287_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1287 {
  position:absolute;
  left:256px;
  top:244px;
  width:94px;
  height:16px;
}
#u1288 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u1289_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1289 {
  position:absolute;
  left:256px;
  top:260px;
  width:52px;
  height:16px;
}
#u1290 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u1291_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  text-align:right;
}
#u1291 {
  position:absolute;
  left:256px;
  top:286px;
  width:77px;
  height:12px;
  font-size:11px;
  text-align:right;
}
#u1292 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u1293_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  text-align:right;
}
#u1293 {
  position:absolute;
  left:259px;
  top:301px;
  width:74px;
  height:12px;
  font-size:11px;
  text-align:right;
}
#u1294 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u1295 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1296_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  text-align:center;
}
#u1296 {
  position:absolute;
  left:411px;
  top:247px;
  width:61px;
  height:42px;
  font-size:36px;
  text-align:center;
}
#u1297 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u1298_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u1298 {
  position:absolute;
  left:380px;
  top:247px;
  width:24px;
  height:24px;
}
#u1299 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1300_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:149px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
  line-height:18px;
}
#u1300 {
  position:absolute;
  left:172px;
  top:501px;
  width:300px;
  height:149px;
  text-align:left;
  line-height:18px;
}
#u1301 {
  position:absolute;
  left:10px;
  top:5px;
  width:280px;
  word-wrap:break-word;
}
#u1302_div {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:30px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:100px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1302 {
  position:absolute;
  left:462px;
  top:510px;
  width:6px;
  height:30px;
}
#u1303 {
  position:absolute;
  left:2px;
  top:7px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1304_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1304 {
  position:absolute;
  left:172px;
  top:690px;
  width:300px;
  height:38px;
}
#u1305 {
  position:absolute;
  left:2px;
  top:12px;
  width:296px;
  word-wrap:break-word;
}
#u1306_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u1306 {
  position:absolute;
  left:399px;
  top:208px;
  width:73px;
  height:16px;
  color:#999999;
}
#u1307 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1308_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1308 {
  position:absolute;
  left:372px;
  top:204px;
  width:20px;
  height:20px;
}
#u1309 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1310_div {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1310 {
  position:absolute;
  left:160px;
  top:364px;
  width:312px;
  height:38px;
}
#u1311 {
  position:absolute;
  left:2px;
  top:11px;
  width:308px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1312_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1312 {
  position:absolute;
  left:170px;
  top:375px;
  width:62px;
  height:16px;
}
#u1313 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u1314_div {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1314 {
  position:absolute;
  left:160px;
  top:412px;
  width:312px;
  height:38px;
}
#u1315 {
  position:absolute;
  left:2px;
  top:11px;
  width:308px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1316_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1316 {
  position:absolute;
  left:170px;
  top:423px;
  width:70px;
  height:16px;
}
#u1317 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u1318_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:21px;
}
#u1318 {
  position:absolute;
  left:455px;
  top:141px;
  width:25px;
  height:21px;
}
#u1319 {
  position:absolute;
  left:2px;
  top:2px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
